.mw-header {

}


#Header {
  border-top: 1px solid black;
  @include background(linear-gradient(to top, #852201, #6a1b00));	
  
  #Logo {
    @include background(linear-gradient(#C14102 0, shade(#C14102, 20%) 100%));
    h1 {
      margin: 0;
      padding: 10px;
      a {
        font-size: 22px;
        text-shadow: 0 -1px rgba(0,0,0,0.9);
        color: white;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: 400;
      }
    }
    #LogoContainer {
      padding-bottom: 5px;
    }
  }
  // #SearchForm {
  //   @include background(linear-gradient(to top, #852201, #6a1b00));
  // }
  .mw_header_bottom {
    width: 100%;
    display: block;
    padding: 10px;
    @include background(linear-gradient(top, #852201, #6a1b00));
    .mw_search {
      display: inline-block;
      width: 75%;
      position: relative;
      input[type='text']{
        border: 1px solid black;
        background-color: #f1f0f0;
        font-size: 13px;
        padding: 4px;
        height: 33px;
        margin: 0;
        width: 100%;
        display: block;
      }
      .mw_search_btn {
        height: 33px;
        position: absolute;
        top: 0;
        right: -13px;

        input { height: 33px; width: 40px; }
      }
    }
    .mw_menu_btn {
      float: right;
      display: block;
      &[data-ur-state="enabled"] span {
        @extend .sprites-menu-on;
      }
    }
  }
}

.top-item {
  float: right;
  margin: 0px 10px 0px 0px;
}

.toggle-menu{

  margin-top: 5px;
  border-bottom: 2px solid white;
  padding: 5px 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 15px;
  a {color: white;}
  text-align: center;
}



